*{
  			margin: 0px;
  			padding: 0px;
		 }
		#container a{
  			text-decoration: none;
 			color: white;
		 }
		#container ul{
 			 list-style: none;
		}
		#container ul li{
  			background-color: LightGreen;
  			width: 150px;
  			border: 1px solid white;
  			height: 50px;
  			line-height: 50px;
  			text-align: center;
  			font-size: 18px;
  			position: relative;
		}
		#container ul li:hover{
 			 background-color: Salmon;
		}
		#container ul ul{
 			 display: none;
		}
		#container ul li:hover >ul{
 			 display: block;
		}
		#container ul ul{
  			margin-left: 150px;
  			top: 0px;
  			position: absolute;
		}
